.home-container {

    padding: 50px 50px;
    height: auto;

}

.collection {
    padding: 5%;


}

.shop-card {
    width: 200px;
    height: auto;
}

.shop-logo {
    width: 200px;
    height: 200px;
}

.shop-button {
    width: 200px;
    height: 30px;
    background-color: black;
    color: white;
}



.shop-descr {
    display: flex;
    align-self: center;
    padding-left: 20%;
}

.details {
    justify-content: left;
}

.attributes-container {
    text-align: left;
}